
:root{
--link-color: #2196F3;
--title-color: #212121;
--text-color: #757575;
--main-color: #ffffff;
}


/* body*/
body {
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color);
}


/*header*/
.page-header {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background-color: var(--main-color);
}

/*logo*/
.logo {  
    position: absolute;
    text-decoration: none; 
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


   
.logo-one{
    color: #2196F3;
}
.logo-two {
    color: #000000;
}

/*navigation*/

.link-nav, .contact-inf, .logo {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
}

.link-nav, .contact-inf {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
}

.link-nav-studio {
    text-decoration: none;
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    color: var(--title-color);
}
.link-nav-studio:hover,.link-nav-portfolio:hover, .link-nav-contacts:hover   {
-webkit-text-stroke: 1px var(--title-color);
color: var(--link-color);
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.link-nav-portfolio {
    text-decoration: none;
    position: absolute;
    width: 76px;
    height: 16px;
    left: 552px;
    top: 32px;
    color: #212121;
}

.link-nav-contacts {
    text-decoration: none;
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    color: #212121;
}

.mail, .number {  
    text-decoration: none;  
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}

.mail {position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    color: #757575;
    }

.number {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    color: #757575;
    }
    .mail:hover, .number:hover {
        color: var(--link-color);
    }


/*fist section*/
.main-page-section-one {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    position: absolute;
    background-color: #2F303A;
}

.section-one-main-title {
    position: absolute;
    padding: 200px 452px 280px 452px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-color);
    position: absolute;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 1px var(--title-color);
}


button {
    margin: 350px 700px 200px 700px;
    top: 30px;
    height: 50px;
    position: absolute;
    background: var(--link-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-color);
    justify-content: center;
    border: 0;
    appearance: none;
    cursor: pointer;
}


/*second section*/
h2 {
    color: var(--main-color);}


.section-two-title-one, .section-two-title-two, .section-two-title-three, .section-two-title-four {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    display: flex;
    position: absolute;
    width: 270px;
    height: 16px;
    top: 774px; 
}

.section-two-title-one {
    left: 215px;
}
.section-two-title-two {
    left: 515px;

} 
.section-two-title-three {
    left: 815px;
}
.section-two-title-four {
    left: 1115px;
}
.section-two-text-one, .section-two-text-two,
.section-two-text-three, .section-two-text-four {
    position: absolute;
    width: 270px;
    height: 75px;
    top: 800px;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    display: flex;
}

.section-two-text-one {
    left: 215px;
}
.section-two-text-two {
    left: 515px;
}
.section-two-text-three {
    left: 815px;
}
.section-two-text-four {
    left: 1115px;
}


.section-three-main-title{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}


/*.section-three-main-title {
 position: f;
    margin: 969px 612px 1338px 612px;
}*/

.section-three-img-one {
    position: absolute;
    margin: 1061px 215px 994px 1015px;
}
.section-three-img-two {
    position: absolute;
    margin: 1061px 615px 994px 615px;
}
.section-three-img-three {
    position: absolute;
    margin: 1061px 1015px 994px 215px;
}















/*.main-page-section-four {
position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;

background: #F5F4FA;
}
.section-four-main-title {
    width: 264px;
    height: 42px;
    left: 668px;
    top: 1543px;
}*/


.section-four-img-one {
    position: absolute;
    left: 215px;
    top: 1635px;
    border-radius: 0px;
}

.section-four-img-two {
    position: absolute;
    left: 515px;
    top: 1635px;
    border-radius: 0px;
}
.section-four-img-three {
    position: absolute;
    left: 815px;
    top: 1635px;
    border-radius: 0px;
}
.section-four-img-four {
    position: absolute;
    left: 1115px;
    top: 1635px;
    border-radius: 0px;
}


.section-four-team-name-one,
.section-four-team-name-two, 
.section-four-team-name-three, 
.section-four-team-name-four{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    position: absolute;
}

.section-four-team-name-one{
    width: 151px;
    height: 19px;
    left: 275px;
    top: 1925px;
}
.section-four-team-name-two {
    width: 109px;
    height: 19px;
    left: 596px;
    top: 1925px;
}
.section-four-team-name-three {
    width: 137px;
    height: 19px;
    left: 882px;
    top: 1925px;
}
.section-four-team-name-four {
    width: 134px;
    height: 19px;
    left: 1183px;
    top: 1925px;
}

.section-four-text-one, 
.section-four-text-two, 
.section-four-text-three,
.section-four-text-four{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;  
    text-align: center;
    letter-spacing: 0.03em; 
    color: var(--text-color);}
.section-four-text-one {
    width: 130px;
    height: 19px;
    left: 285px;
    top: 1954px;
}
.section-four-text-two {
    width: 147px;
    height: 19px;
    left: 577px;
    top: 1954px;
}
.section-four-text-three {
    width: 76px;
    height: 19px;
    left: 912px;
    top: 1954px;
}
.section-four-text-four {
    width: 87px;
    height: 19px;
    left: 1207px;
    top: 1954px;
}


.info-block {
    background-color: #2F303A;
    position: absolute;
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 2097px;
}

/*logo*/
.logo-last {  
    position: absolute;
    text-decoration: none; 
    width: 145px;
    height: 31px;
    left: 215px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/*.logo: :hover, .logo: :focus {*/

   
.logo-last-one{
    color: var(--link-color);
}
.logo-last-two {
    color: var(--main-color);}
    
.mail-two, .number-two {  
    text-decoration: none;  
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

}

.mail-two {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
   /* top: 2238px;*/
}

.number-two {
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
   /* top: 2268px;*/
}


.info-address {
    position: absolute;
    width: 231px;
    height: 81px;
    left: 215px;
    /*top: 2208px;*/
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
    display: flex;
} 
address {
    margin: 111px 215px 60px 1154px;
}
